DATABASE_URL="mysql://root:SuaSenha@localhost:3306/constella" 
# coloque a senha do mySQL no campo de "SuaSenha"

JWT_SECRET=98388750f63fac47136942aaf8ac79ce

#Cloudinary
CLOUDINARY_NAME=kvaabmcm
CLOUDINARY_KEY= 976879768132479
CLOUDINARY_SECRET=v_3Ngfp89lrm5yifCZ3g2rGsqkM

